@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Arvo:400,700|Kadwa:400,700|Quicksand:400,500,700');
/*@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Bungee|Kadwa:400,700');*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*Default*/
/*button colour : #45BF55*/
/*warning colour: red*/
/*disable colour: gray*/

body{
}
h1{
  font-size: 40px;
  font-weight: 900;
  text-align:center;
}
h2{
  font-size: 20px;
  font-weight: 900;
}
h3{
  font-size: 17px;
  font-weight: 900;
}
.hidden{
  display:none;
}
.inner{
  padding:5px 10px 3px 5px;
  position:relative;
}
strong{
  font-weight:600;
}
.modalBg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 999999;
  top:0;
  left:0;
  overflow: scroll;
}
.modalWindow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 15px 15px;
}
.modalWindow p{
  line-height:20px;
}
.modalWindow .checkoutInner{
  padding: 15px 15px;
  box-shadow:0px 0px 15px #000;
  background-color: #f5f5f5;
}
.modalWindow .checkoutInner h3{
  font-size: 16px;
}
.modalWindow .checkoutInner p{
  font-weight:normal;
  line-height:18px;

}
.modalWindow .checkoutInner p strong{
  font-weight:bold;
}
.closeBtn{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: red;
  border: 0;
  padding: 5px 10px;
  font-size: 20px;
}
.hidden{
  display:none;
}
.disabled{
  cursor:default !important;
  background-color:gray !important;
  color:#fff !important;
}
.disabled:hover{
  cursor:default !important;
  background-color:gray;
  color:#fff;
}
.active{
  display:block;
}
button{
  transition:.25s;
  background-color:#45BF55;
  color:#fff;
}
button:hover{
  transition:.25s;
  background-color:#97ED8A;
  color:#000;
}
.mainFontLarge{
  font-family: 'Alfa Slab One', cursive;
}
.navFont{
  text-transform:uppercase;
  font-weight:bold;
  font-family: 'Arvo', serif;
}
.catalogueFont{
  font-family: 'Quicksand', sans-serif;
}
.normal{
  background-color:rgba(255,209,15,0.5) !important;
}
.success{
  background-color:rgba(69,191,85,0.5) !important;
}
.warning{
  background-color:rgba(255,0,0,0.5) !important;
}
.tooltip{
  font-size: 14px;
}

/* Custom */
.preloader{
  position:absolute;
  top:50%;
  left:50%;
}
.shopFront{
  z-index:9;
}
.shopFrontHeaderContainer{
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 15px #000;
}
.shopFrontHeader{
  padding: 15px 0px;
  max-width:490px;
  margin:auto;
}
.siteTitle{
  text-transform: uppercase;
  z-index: 0;
  font-size: 35px;
}
.navMenu{
  width: 100%;
  margin-top: 5px;
  height: 15px;
}
.shopFrontHeader .sub{
  text-align: right;
  padding-right: 10px;
  cursor:pointer;
  float:right;
}
.sub{
  transition:0.25s;
  color:#000;
}
.sub:hover{
  transition:0.25s;
  color:#d5d5d5;
}
.searchFilter{
  margin-top:10px;
  margin-left:10px;
}
.searchFilter .filterInputField{
  margin-left: 3px;
  padding: 4px 2px;
  font-size:13px;
  text-transform:none;
}
#about{
  display:block;
}
.aboutLink{
  color:#000;
}
#aboutModal{
  background-color:#fff;
  box-shadow: 0px 0px 15px #000;
}
#aboutModal p{
  font-family:'Quicksand', sans-serif;
}
#returnPolicy{
  background:#fff;
}
#pricingTable{

}
#pricingTable tbody tr td{
  border:1px solid #000;
  font-family:'Quicksand', sans-serif;
  padding: 5px;
}
.catalogueContent{
  max-width: 768px;
  margin: auto;
  border-top: 2px solid #000;
  padding-top: 10px;
  padding-bottom: 50px;
  display:block;
}
.catalogueContent ul{
  display:inline-block;
  width: 100%;
  margin-top: 120px;
}
.catItem{
  float:left;
  width:33.333333%;
  cursor:pointer;
  margin-bottom:30px;
  padding-bottom: 10px;
  box-sizing: border-box:
}
.catPrice{

}
.catItem .dvdTitle{
  padding-bottom:3px;
  height: 33px;
}
.catItem img{
  width:100%;
  margin-bottom: 5px;
}
.soldoutImg{
  position: absolute;
  top: 40px;
  width: 100%;
  max-width: 241px;
  height: 100%;
  max-height: 250px;
  overflow: hidden;
}
.soldoutImgUrl{
  width:100%;
}
.soldout{
  /*cursor:default;*/
}
.soldoutImgSrc{
  width: 100%;
}
.soldoutTTWindow{
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 3px;
}
.soldoutTTWindow span{
  color: #fff;
  font-size: 12px;
  line-height: 10px;
}
.notesAndSpecs{
  height: 32px;
}
/* Checkout Window */
#checkoutWindow{
}
.checkoutModal{
  width: 320px;
}
.payBtn{
  border: 0;
  margin-top:5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor:pointer;
}
#checkoutClose{
}
.payment-errors{
  margin-top:10px;
  box-shadow: 2px 2px 0px #000;
}
.payment-error-copy{
  padding: 10px 0px 10px 10px;
}
.payment-error-copy.inactive{
  padding:0;
}
.checkout-subHeader{
  margin-bottom: 5px;
  margin-top: 0px;
}
.checkoutProductImg{
  width: 60px;
  height: 60px;
  float: right;
  top: 0;
  margin-left: 10px;
}
/* Form Styles */
#payment-form{
  margin-top: 20px;
  margin-bottom: 10px;
}
.formInput{
  margin-bottom: 6px;
  border: 1px solid rgba(0,0,0,0.5);
}
.formInput.full-width{
  width:100%;
}
.submit,
.send{
  transition: .25s;
  color:#fff;
  background-color:#45BF55;
  padding: 10px 10px;
}
.submit:hover,
.send:hover{
  background-color: #97ED8A;
  color: #000;
}
#contact{
  background-color:#fff;
}
#contact-form{
}
#contact-form input{
  margin-bottom:5px;
  width:98%;
}
#contact-form *{
  font-family: 'Quicksand', sans-serif;
}
#contact-form textarea{
  width:98%;
}
#contact-form .send{
  width:100%;
}
.contactAlert{

}
.contactAlert-copy{
  padding:5px;
}
/*==================
== Media Queries
===================*/
@media (max-height:920px){
  .modalWindow {
    transform:translateX(-50%) translateY(-40%);
  }
}
@media (max-width:768px){
  .catItem{
    width:50%;
  }
  .catalogueContent{
    width:95%;
  }
  .modalWindow{
    width:85%;
    transform:translateX(-50%) translateY(0%);
  }
}
@media (max-width:480px){
  .catItem{
    width:50%;
  }
  .shopFrontHeader{
    max-width: 320px;
  }
  .shopFrontHeader .siteTitle{
    font-size:23px;
  }
  .shopFrontHeader .sub{
    padding-right:7px;
    float:none;
  }
  .navMenu{
    height:auto;
  }
  .searchFilter{
    margin-left:7px;
  }
  .catItem{
    font-size:14px;
  }
  .modalWindow{
    width:85%;
  }
  #pricingTable tbody tr td{
    font-size:12px;
  }

}
@media (max-width:320px){
  .catItem .dvdTitle{
    font-size:10px;
    height: 20px;
  }
  .soldoutImg{
    left:-5px;
  }
}
